*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 1px solid lightblue; */
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-container {
    width: 40%;
    padding: .5em;
}

.ToS {
    font-family: "Cambria Math", 'Times New Roman', Times, serif;
}

em {
    background-color: hsla(60, 100%, 50%, 0.3);
}

/* scroll bar styles */
body::-webkit-scrollbar {
    width: .4em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset -10px -10px 24px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
}

/* Header styles */
header {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px 0;
}

.sub-header {
    font-weight: bold;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline;
    margin-right: 24px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    word-break: keep-all;
}

br.separator {
    display: none;
}

/* Main styles */
main {
    padding: 20px 0;
}

.filter-section,
.exam-papers {
    margin-bottom: 40px;
}

.filter-section h2,
.exam-papers h2 {
    color: #1f1f1f;
}

.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    padding: 5px;
}

#exam-papers {
    display: flex;
    flex-direction: column;
}

.exam-paper-link {
    margin: 4px;
    padding: 10px 5px;
}

/* Footer styles */
footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* additional styles */
p.iou {
    margin-left: 24px;
}

a {
    text-decoration: none;
}

a:not(.exam-paper-link) {
    border-bottom: 1px dashed;
    transition: all .3s ease-in-out;
}

a:not(.exam-paper-link):hover {
    border-bottom: 1px solid;
}

a.exam-paper-link:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* for alert box when clicked the copyURL button */
#alertBox {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black; /* fallback */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    z-index: 1000;

    backdrop-filter: blur(4px);
}

/* Responsive styles */
@media only screen and (max-width: 426px) {
    .container {
        width: 90%;
    }

    br.separator {
        display: block;
    }

    #alertBox {
        width: 90%;
    }
}