@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 1px solid lightblue; */
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 105%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-container {
    width: 40%;
    padding: .5em;
}

.ToS {
    font-family: 'PT Serif', serif;
}

/* scroll bar styles */
body::-webkit-scrollbar {
    width: .4em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset -10px -10px 24px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
}

/* Header styles */
header {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px 0;
}

p.iou {
    margin-left: 24px;
}

.sub-header {
    font-weight: bold;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main styles */
main {
    padding: 20px 0;
}

.filter-section,
.exam-papers {
    margin-bottom: 40px;
}

.filter-section h2,
.exam-papers h2 {
    color: #1f1f1f;
}

.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    padding: 5px;
}

/* Footer styles */
footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}